/* Bootstrap Media Queries */

@media (min-width:1440px) {
    .services{
        margin-left:-8%;
    }
     .movie-cards{
    --bs-gutter-x: 0; 
} 
.imprint{
    margin-right:-13px;
}
.privacy{
    margin: 0 -28px;
}
    
}



/* Medium Devices */
@media (min-width:768px)and (max-width:1024px) {
    .box{
        width: 8rem;
        height: 9rem;
        margin: 10px auto;
    }

    h1{
        font-size: 25px;
    }
    #portofolio{
        font-size: 25px;
    }

    .box p{
        font-size:medium;
        text-align: start;
        width: max-content;
    }
    .header-desc{
        margin-bottom:80px;
    }
    .view-more{
        font-size: x-small;
    }
    .movie-cards{
    --bs-gutter-x:0.5rem; 
} 
.contact-info{
    font-size: medium;
} 

.imprint{
    margin-right:-12px;
}
.privacy{
    margin: 0 -28px;
}
    
}








/* Small and XS devices */

@media (min-width:320px)and (max-width:750px) {
    h1{
        font-size: 20px;
    }
    #portofolio{
        font-size: 20px;
    }
div.new-card{
     height: 400px;
     margin-bottom: 20px;}
     
img.movie-scene{
height: 400px;

     }
#ab-us{
    font-size: small;
}

.service-list{
    margin-bottom: 20px;
    text-align: center;
    border-right: none;
    font-size:small;
}
.titles{
    text-align: center;

}
.box{
    width: 4rem;
    margin: 30px auto;
    height: 8rem;
}
.box p{
    font-size:medium;
    text-align: start;
    width: max-content;
}


.view-more{
    font-size: x-small;
}

.contact-info{
    font-size: small;
}

.hamburger-text{
    font-size: large;
}

.header-desc{
    margin-top: 90px;
    margin-bottom: 65px;
}
.card-body{
    display: grid;
    text-align: center;
}

.movie-cards{
    --bs-gutter-x:0;

}
}